# SLURM
*.out
*.err

# Misc files
data/*

# Environment and local config
.env
*scratch/*
.aider*

# Node.js
node_modules/
npm-debug.log

# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.ropeproject

# R
*.Rhistory
*.RData
*.Rapp.history
R_libs/*
.Rproj.user/
*-checkpoint.r

# Java
*.class
*.jar

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Visual Studio Code
.vscode/
*.code-workspace
.history/

# JetBrains IDEs
.idea/
*.iml
*.iws
*.ipr

# Logs and results
*.log
results.txt
**/results/*.txt
temp_logs/*
tmp_container_explorer/*
ai_tool_calls_*json

# Docker
*.dockerignore
Dockerfile.*
docker-compose*.yml
*.tar
*.gz
*.zip
*.tgz
*.bak
*.swp
*.swo

# Jupyter
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.ipynb-meta
*-checkpoint.ipynb

# Poetry
poetry.lock

# Temporary and cache files
.tmp/
.cache/
*.tmp
*~

# Data directories and files
**/FASTQ*/
**/GSE*/
.Trash*/

# Project specific
notebooks/.Trash-*/
notebooks/2_extract_data/GSE*_data/
notebooks/2_extract_data/GSE*_FASTQs/

# Streamlit config
main_workflow/reporting/.config/dataset_query.json
